.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
}

.stars-wrap {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.star-wrap {
  margin: 10px;
}

.submit-button {
  width: 300px;
}
